@font-face{
    font-family:"Header";
    src:url(Teko/Teko-Medium.ttf);
}

@font-face{
    font-family:"Header_Menu";
    src:url(DrukCy-Medium.woff);
}

@font-face{
    font-family:"footer";
    src:url(RussoOne-Regular.ttf);
}